#page-title {
    text-align: center;
}
#picture-container {
    border: 2px solid purple;
    border-radius: 20%;
    padding: 20px;
    width: 450px;
    /* height: 500px; */
    margin: 50px auto;
    background-color: pink;
}
#image {
    width: 100%;
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid purple;
}

#hovers {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
}
#hovers h2 {
    text-align: center;
}

#hovers:hover {
    background-image: url(../images/goldi1.jpg);
    background-size: auto;
    color: brown;
}