#page-title {
    text-align: center;
}
#picture-container {
    border: 2px solid purple;
    border-radius: 360px;
    padding: 10px;
    width: 450px;
    /* height: 500px; */
    margin: 50px auto;
    background-color: pink;
}
#image {
    width: 80%;
    margin: 50px auto;
    border-radius: 360px;
    border: 2px solid purple;
}