span {
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

div {
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}
div p {
    border: inherit;
    margin: inherit;
    padding: inherit;
}
a[href*="google"] {
    background-color: rgb(96, 190, 96);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}