body, ul, li, h1, h2, a {
     margin:  0;
     padding: 0;
     font-family: arial;
}

.logo {
    background-color: #F63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.logo__text {
     color: white;
     border: 8px solid white;
     padding: 6px 12px;
     display: inline-block;
     border-radius: 36px;
}
.banner {
     position: relative;
}
.banner__image{
    max-width: 100%;
}
.banner__textContainer{
    background-color: #FEB614;
    color: white;
    padding: 30px;
    position: absolute;
    left: 8px;
    top: 30%;
}
.banner__text{
    font-size: 50 px;
}
.banner__title{
    font-size: 1.2em;
}
.menu{
    background-color:  #F4F4F4;
    padding: 20px ;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}
.menu__list{
    white-space: nowrap;
    max-width:  1200px;
    margin: 0 auto;
}
.menu__option{
    width: 25%;
    display: inline-block;
    font-size:  24px;
}
.menu__link{
    text-decoration: none;
    color: #4B4B4B;
}
.menu__link--join{
    color: #F63232;
}
.mainContainer {
    max-width: 100%;
    width:   1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box ;
}
.mainContainer__title{
    color: #F63232;
    font-size: 48px;
}
.mainContainer__text{
    line-height: 2em;
    color: #4b4b4b;
}
.mainContainer__listOfImages {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.mainContainer__item{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.mainContainer__picture{
    max-width: 100%;
}
.secondaryContainer {
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.secondaryContainer__title{
    font-size: 36px;
}
.registration{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white
}
footer {
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center ;
}
/* pseudo classes */

.menu__link:hover{
     text-decoration: underline;
}

.mainContainer__item:hover{
    position: relative;
    top: -4px ;
}
.registration:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
.registration:valid{
    border: 4px solid #71d300;
}
.mainContainer__text::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
.secondaryContainer::first-letter{
    font-weight: bold;
    font-size: 1.2em;
}
p::selection{
    background-color: #F63232;
    color: white ;
}
p::after{
    content: '...';
}
@media screen and (max-width: 1400px){
    .banner__text{
        font-size: 60px;
    }
    .menu__option{
        font-size: 18px ;
    }
}
@media screen and (max-width: 960px){
    .banner__text{
        font-size: 30px;
    }
}
@media screen and (max-width: 700px){
    .banner__textContainer{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner__textContainer br{
        display: none ;
    }
    .banner__text{
        font-size: 20px;
    }
    .banner__title{
        font-size: 1em;
    }
    .imainContainer__item{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 560px){
    .menu__option{
        font-size: 20px;
        position: relative;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    .logo{
        position: relative;
    }
    .menu{
        top: 0;
    }
}