#page-title {
    text-align: center;
}
#picture-container {
    border: 2px solid purple;
    border-radius: 20%;
    padding: 20px;
    width: 450px;
    /* height: 500px; */
    margin: 50px auto;
    background-color: pink;
}
#image {
    width: 100%;
    margin: 0 auto;
    border-radius: 20%;
    border: 2px solid purple;
}