#page-title {
    text-align: center;
}
#picture-container {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}
#image {
    width: 80%;
    text-align: center;
}